.alert-info {
    background-color: turquoise;

}
.hidden-on-desktop {

}

.nav-links {
    display: flex;
    align-items: flex-end;
}

.header-img {

}
.main {

}
.sub-section {

}

#main {

}
 @media only screen and (max-width: 600px){
     body{


     }






 }
