
@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }

    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em;
    }

    .alert-info {
    display: flex;
    width: 100%;
    background: #D6FEFE;
    justify-content: center;
    border: 1px solid lightgray;
    padding: 1em;
    }

    .alert-info a {
    text-decoration: none;
    color: black;
    }

    .nav-links {
    justify-content: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    }

    .nav-links a {
    color: blue;
    }

    li {
    display: flex;
    justify-content: center;
    background: lightgray;
    width: 95vw;
    margin: .5em;
    padding: .5em;
    }

    ul {
    padding: 0;
    }

    nav {
    display: flex;
    flex-direction: row;
    }

    .header-img img {
    margin: auto;
    width: 95vw;
    }

}
@media screen and (min-width: 769px) {

    body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
                "company nav-links"
                "img img "
                "main sub"
                "footer footer";
    }

    .alert-info {
        display: none;
    }

    .nav-links {
        display: flex;
        list-style-type: none;
        align-items: flex-end;
    }

    nav {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin: .5em;
    }

    .nav-links li {
        display: inline-block;
        padding: .5em;
    }

    .nav-links ul {
        align-items: flex-end;
        display: flex;
    }

    .header-img {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100vw;
        grid-area: 2/1/-1/3;
    }
}
